.editorContainer {
  flex: 1;
  padding: 20px;
  background: white;
}

.editor {
  height: 300px; // Ajuste la hauteur selon tes besoins
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}
